/*---------------------------------------------------------------
  moment.css
  Description: A private app theme designed by WeiShai.
  Version: 1.0
*---------------------------------------------------------------*/

/* Reset
----------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Default styles
----------------------------------------------------------------*/
/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix {zoom: 1;} /* IE6 */
*:first-child+html .clearfix {zoom: 1;} /* IE7 */

body{
  line-height: 1;
  font-family: "Helvetica Neue", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, sans-serif;
  width: 270px;
  height: 600px;
}
input, textarea{
  font-family: "Helvetica Neue", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, sans-serif;
}

/* Placeholder style*/
::-webkit-input-placeholder { color: #CCC; }
:-moz-placeholder { color: #DDD; }
:-ms-input-placeholder { color: #DDD; }

#app{
  width: 100%;
  height: 100%;
}

.btn{
  display: inline-block;
  padding: 8px 12px;
  background-color: #e1704b;
  color: #fff;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
  .btn:hover{
    background-color: #F0AFA1;
  }
  .btn:active{
    background-color: #424242;
  }

/* App styles
----------------------------------------------------------------*/
.newbbs{}
.newbbs .tab-nav{
  padding: 12px;
  background: #fafafa;
  border-bottom: 1px solid #F2F2F2;
}
  .newbbs .tab-nav .nav-btn{
    display: inline-block;
    margin-right: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #888;
    cursor: pointer;
  }
  .newbbs .tab-nav .nav-btn i{
    margin-right: 4px;
    vertical-align: -1px;
  }
  .newbbs .tab-nav .nav-btn:hover{
    color: #F0AFA1;
  }
  .newbbs .tab-nav .btn-active, .newbbs .tab-nav .btn-active:hover{
    color: #e1704b;
    font-weight: bold;
    cursor: default;
  }
#newbbsPage .panel-header{
  padding: 12px;
  background: #fafafa;
  border-bottom: 1px solid #F2F2F2;
  height: 16px;
}
  #newbbsPage .panel-header .panel-title{
    color: #888;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #newbbsPage .panel-header .back-btn{
    top: 12px;
    left: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #aaa;
    -webkit-transition: color .2s ease-in-out, opacity 1.2s ease-in-out;
    transition: color .2s ease-in-out, opacity 1.2s ease-in-out;
  }
  #newbbsPage .panel-header .back-btn:hover{
    color: #F0AFA1;
  }

.luckyBox{}
.luckyBox-header{
  position: relative;
  padding: 12px;
  border-bottom: 1px solid #e1704b;
}
  .luckyBox-header .luckyBox-title{
    text-align: center;
    color: #666;
    font-weight: bold;
  }
  .luckyBox-header #addLuckyBtn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: #888;
    opacity: 0.5;
    cursor: pointer;
  }
  .luckyBox-header #addLuckyBtn:hover{
    color: #e1704b;
    opacity: 1;
  }

#addForm-wrap{
  padding: 20px 12px;
}
.addForm{}
.addForm .input-text{
  margin-bottom: 20px;
}
.addForm .input-text > input{
  margin: 0;
  padding: 10px 5%;
  width: 88.5%;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  line-height: 1.4em;
  letter-spacing: 1px;
  outline: none;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
  .addForm .input-text > input:hover{
    border: 1px solid #A7A7A7;
  }
  .addForm .input-text > input:focus{
    border: 1px solid #E1704B;
  }
  .addForm .input-text > .submit-btn{
    width: 89.5%;
    padding: 10px 5%;
    letter-spacing: 4px;
    font-weight: bold
  }

.task-list{}
.task-list .task-item{
  padding: 12px 32px 12px 12px;
  border-bottom: 1px solid #eee;
}
  .task-list .task-item:hover{
    border-left: 3px solid #e1704b;
    background-color: #fefbed;
  }
  .task-list .task-item .item-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #666;
    text-overflow: ellipsis;
  }
    .task-list .task-item:hover .item-title{
      color: #e1704b;
    }



/* Plugins styles
----------------------------------------------------------------*/
/* iPage */
.ipage{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ipage .ipage-panel{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-left: 100%;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
  .ipage .active-panel{
    margin-left: 0%;
  }
  .ipage .back-panel{
    margin-left: -100%;
  }
.ipage-panel .panel-header{
  position: relative;
  background: #FFF;
}
.ipage-panel .panel-title{
  margin: 0;
  text-align: center;
}
.ipage-panel .panel-header > .back-btn{
  position: absolute;
  left: 20px;
  top: 20%;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
}
  .active-panel .panel-header > .back-btn{
    opacity: 1;
  }

.ipage-panel .panel-header > .option-btn{
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

/* Tabs */
.tab-box{}
.tab-box .tab-nav{}
  .tab-box .tab-nav:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    *zoom: 1;
  }
.tab-box .tab-nav > li{
  float: left;
}
.tab-box .tab-nav .nav-btn{

}
  .tab-box .tab-nav .btn-active{

  }
.tab-box .tab-content{

}
.tab-box .tab-content .tab-item{
  display: none;
}
  .tab-box .tab-content > .item-active{
    display: block;
  }